@import "./variables.scss";
body {
    background-color: $background-color;
    height: 100vh;
    padding: 30px;
    width: 100vw;
}

.disable-pointer-events {
    pointer-events: none;
}

p {
    font-size: 1.2em;
    text-align: justify;
}

a:link,
a:visited {
    @apply text-orange-700 no-underline;
    // color: $link-color;
    // font-style: italic;;
}

a:hover,
a:active {
    @apply text-blue-600 no-underline;
}
